<div class="container-fluid">
  <div class="row">
    <h2>Hack The Ridge Chat</h2>
    <hr>
  </div>
  <body>
    Collaborate with fellow teammates through this chat room during Hack the Ridge!  
  </body>
    <p>
      <ol>
        <li>Secure</li>
        <li>Private</li>
        <li>Open Source on <a href="https://github.com/Kevin8675/HacktheRidge-Retro-Forums" target="_blank">GitHub</a></li>
      </ol>
    <br>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" [(ngModel)]="user" class="form-control" id="username" placeholder="Enter username">
      </div>
    </div>

     <div class="col sm-2">
      <div style="margin-top:23px;">
        <button type="button" class="btn btn-primary" (click)="join()">Join</button>
       <button type="button" class="btn btn-default" (click)="leave()">Leave</button>
      </div>
    </div>
  </div>
<br>
<h4>Chat</h4>
  <div class="row">
    <div class="well" style="height:300px; padding:15px; margin-left: 0.7em; margin-right: 0.7em; background-color: white;" style="overflow-y:scroll">{{messageArray}}
      <div *ngFor="let item of messageArray" style="background-color:white">
        <span><strong>{{item.user}} : </strong> {{item.message}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <input id="msg" type="text" class="form-control" [(ngModel)]="messageText" placeholder="Enter your message here">
    </div>
    <div class="col-sm-2">
      <button id="send" type="button" class="btn btn-success pull-right" onclick="clear.js" (click)="sendMessage()" style="margin-top: 0em;">Send</button>
    </div>
  </div>